nav.shared-menu {
  margin-top: 6.5rem;
  padding:    0 4rem;

  ul {
    align-items:     center;
    display:         flex;
    justify-content: space-between;
    list-style:      none;

    li {
      a.selected {
        color:       var(--yellow);
        font-weight: 500;

        span {
          border-bottom-color: inherit;
        }
      }

      a {
        color:           var(--white);
        font-size:       1.8rem;
        font-weight:     400;
        padding-bottom:  0.8rem;
        position:        relative;
        text-decoration: none;

        span {
          border:   none;
          bottom:   0;
          left:     0;
          position: absolute;
          width:    35%;
          // border bottom
          border-bottom: solid transparent 2px;
        }
      }
    }
  }
}